body {
  background-color: #03045e;
  font-family: "Titan One", cursive;
  color: #8ecae6;
  text-shadow: 2px 2px black;
  margin: 0;
  padding: 0;
}

button {
  font-family: "Titan One", cursive;
  color: #8ecae6;
  background: #023e8a;
  border: none;
  border-radius: 5%;
}
.start,.outcome button {
  border-radius: 3px;
  padding: 0.5em 1em;
}

.game {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.buttons button {
  background-color: ;
  padding: 0.5em 1em;
  font-size: 5em;
}
.score {
  display: flex;
  justify-content: center;
  align-items: center;
}
.start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.outcome {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.score {
  display: flex;
  justify-content: space-around;
}

.selections {
  display: flex;
  justify-content: space-around;
}
.gameDesc {
  display: flex;
  justify-content: center;
}

.disabled {
  display: none;
}


